* {
  padding: 0;
  margin: 0;
  font-family: "Julius Sans One";
  transition: 0.4s;
}

body {
  background-color: var(--bg-light);
  overflow: hidden;
}

main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  gap: 0.8rem;
}

.light-circle,
.dark-circle {
  position: absolute;
  height: 90vh;
  width: 90vh;
  border-radius: 50%;
  z-index: -1;
}

.light-circle {
  top: 55vh;
  right: 65vw;
  background-color: var(--accent-light);
}

.dark-circle {
  bottom: 45vh;
  left: 70vw;
  background-color: var(--accent-dark);
}

.complete {
  margin: 20rem auto;
}

.advice {
  position: absolute;
  background: var(--bg-light);
  border-radius: 1.875rem;
  box-shadow: 0rem 0.7rem 1.2rem 0.03rem hsla(0, 0%, 0%, 0.2);
  padding: 2rem;
  min-width: 200px;
  width: fit-content;
  max-width: 45%;
  text-align: center;
  z-index: 2;
}

.refresh {
  position: absolute;
  background-color: var(--accent-dark);
  padding: 1rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  z-index: 1;
}

.refresh > img {
  width: 2.5rem;
  height: 2.5rem;
}

.advice:hover {
  transform: translateY(15%);
}

.advice:hover + .refresh {
  transform: translateY(-240%) rotate(120deg);
}

.advice:active {
  transform: translateY(10%);
}

.heading {
  font-weight: 300;
  color: var(--accent-dark);
  font-size: var(--header);
  margin-top: 0.5rem;
}

.separator {
  margin: 1rem auto;
  border: 0.01rem solid var(--accent-dark);
  width: 70%;
}

.statement {
  font-weight: 300;
  font-size: calc(var(--para) + 0.2rem);
  line-height: 2.3rem;
  color: var(--accent-dark);
  width: 95%;
  margin: 0.8rem 2.5rem;
}

@media (max-width: 425px) {
  .complete {
    margin: 20rem auto;
  }

  /* .light-circle {
    top: 90vh;
  }

  .dark-circle {
    bottom: 90vh;
  } */
}
