@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");

:root {
  /* Colors */
  --bg-light: hsl(172, 22%, 87%);
  --accent-light: hsl(166, 42%, 74%);
  --accent-dark: hsl(151, 19%, 39%);

  /* Font */
  --header: 2rem;
  --para: 1.5rem;
}
